@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.logo {
  width: 175px;
  color: #fff;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clearfix:after {       /* <----在类名为“clearfix”的元素内最后面加入内容；*/
  content: ".";     /* <----内容为“.”就是一个英文的句号而已。也可以不写。 */
  display: block;   /* <----加入的这个元素转换为块级元素。*/
  clear: both;     /* <----清除左右两边浮动。*/
  visibility: hidden;      /* <----可见度设为隐藏。注意它和display:none;是有区别的。仍然占据空间，只是看不到而已；*/
  height: 0;     /* <----高度为0；*/
  font-size:0;    /* <----字体大小为0；*/
}

.fl {
  float: left;
}

.fr {
  float: right;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}